<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% if current_user %>
      Welcome, <%= current_user.email_address %>
    <% end %>
    <section class='top-right-links'>
      <a href='/spaces'>Spaces</a> |
      <a href='/spaces/new'>List a Space</a>
    </section>
    </br>
    <section class='site-heading'>
      <h1> MakersBnB </h1>
    </section>
    <%= yield %>
    <br/>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Please correct the following errors:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>
