<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class='site-heading'>
      <h1> MakersBnB </h1>
    </section>
    <section class = 'message'>
      <label>Book unique homes and experience a city like a local</label>
    </section>
    <%= yield %>
  </body>
</html>
