<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% if current_user %>
      Welcome, <%= current_user.email_address %>
    <% end %>
    <section class='top-right-links'>
      <% if current_user %>
        <a href='/spaces'>Spaces</a> |
        <a href='/spaces/new'>List a Space</a> |
        <a href='/requests'>Requests</a> |
        <a href='/sessions/delete'>Log Out</a>
      <% else %>
        <a href='/users/new'>Sign Up</a> |
        <a href='/sessions/new'>Log In</a> |
      <% end %>
    </section>
    </br>
    <section class='site-heading'>
      <h1> MakersBnB </h1>
    </section>
    <%= yield %>
    <br/>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Please correct the following errors:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <% if flash[:notice] %>
      <div class='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>
  </body>
</html>
